<h1>Listing posts</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @posts.each do |post| %>
  <tr id="<%= dom_id(post) %>" class="post">
    <td class="author"><%=h post.author %></td>
    <td class="title"><%=h post.title %></td>
    <td class="description"><%=h post.description %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<a href="/posts/new" rel="facebox">New Post</a>