<div class="post">
  <p class="author">
    <b>Author:</b>
    <%=h @post.author %>
  </p>

  <p class="title">
    <b>Title:</b>
    <%=h @post.title %>
  </p>

  <p class="description">
    <b>Description:</b>
    <%=h @post.description %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>